body{
 line-height: 25px;
 font-size: 18px;
 width: 884px;
 height: 28px;
 padding: 15px;
   
}
#titulo{
  padding: 20px;
  line-height: 50px;
  text-align: center;
}
  

.fotosiga {
    left:21px;
    top: 24px;
    width:883px;
    height: 374px;
  }
  .siga{
  width: inherit;
  height: inherit;

  }
  #Siga{
    top: 24px;
    left: 21px;
    width: 884px;
    height: 187px;
    color: #FFB300;
    opacity: 1;
    font-family: Montserrat, Black;
    text-align: left;
    padding: 0px;
    letter-spacing: 0px;
    line-height: 79;
    font: normal normal 900 89px/79px Montserrat;
  }
  #autor{
  top: 67px;
  left: 21px;
  width: 884px;
  font-size: 21px;
  text-decoration: none;
  line-height: 33.81px;
  color: #000000;
  opacity: 1;
  font: normal normal bold  21px/34px Montserrat;
  text-align: right;
  }
  .rodapegeral{
    padding-top: 25px;
    background-color: chocolate;
    font-size: 17px;
    line-height: 35px;
    width: inherit;
    height: inherit;
  }
  .rodape{
    background-color:inherit;
    display: flex;
    width: inherit;
    height: inherit;
  
  }
  #Contatos{
    background-color:inherit;
    text-align: center;
    width: inherit;
    height: inherit;
line-height: 0px;
margin-bottom: -10px;
 
  }
  #Contato{
    background-color:inherit;
    margin-top: 0px;
    width: inherit;
    height: inherit;
  
  
  }
 .fotoautor{
  background-color:chocolate;
 margin-right: 25px;
 border-style: solid;
 border-color: blue;
 border-radius: 100%;
  width: 100px;
  height: 150px;
  display: flex;
 }
 .contas{
  background-color:inherit;
  height: 140px;
 }
 .mancarra{
  top: 24px;
  left: 21px;
  width: 884px;
  height: 187px;
  color: #FFB300;
  opacity: 1;
  font-family: Montserrat, Black;
  text-align: left;
  padding: 0px;
  letter-spacing: 0px;
  line-height: 79;
  font: normal normal 900 89px/79px Montserrat;
}
.caldobranco{
  top: 24px;
  left: 21px;
  width: 884px;
  height: 187px;
  color: #FFB300;
  opacity: 1;
  font-family: Montserrat, Black;
  text-align: left;
  padding: 0px;
  letter-spacing: 0px;
  line-height: 79;
  font: normal normal 900 89px/79px Montserrat;
}